{{ define "main" }}

<h2>Officers</h2>

<div class="d-flex flex-wrap justify-content-around my-4 text-center">

    {{ range .Site.Data.officers }}
        <div>
            <img src="{{ .image }}" />
            <h5>{{ .name }} (Car {{ .car }})</h5>
            <p>{{ .description }}</p>
        </div>
    {{ end }}
    
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Life Members (deceased)</h2>
            <ul class="membership-list">
		        {{  range $i, $p := .Site.Data.deceased }}
		        <li>{{ .name }}, {{ .rank }} ({{ .birth }} - {{ .death }})</li>
		        {{ end }}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Life Members</h2>
            <p><em>
                Life membership in the <b>Dayville Fire Company</b> means active membership for a minimum of 20 years.
            </em></p>
            <ul class="membership-list">
		        {{  range $i, $p := .Site.Data.lifemembers }}
		        <li>{{ .name }}, {{ .rank }}</li>
		        {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ .Content }}

{{ end }}
